<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Hobby</title>

        <link rel="stylesheet" href="styles/list_view_styles.css">
        <link rel="icon" type="image/jpg" href="images/favicon.jpg">

     </head>
    <body>
          <h1>Hobby List</h1>
          <!-- buttons for other pages -->
          <div id="buttons">
               <form action="/" method="get">
                    <button type="submit" onclick="logOut()">Sign Out</button>
               </form>
     
               <form action="create-hobby" method="get">
                    <button type="submit" id="add">Add Hobby!</button>
               </form>
     
               <form action="profile" method="get">
                    <button type="submit">Profile</button>
               </form>
          </div>
        <!-- display hobbies -->
          <div id="list">
               <ul>
                    <hr>

                    <% if (plans.length == 0) { %>
                         <p>There are currently no hobbies listed</p>
                    <% } %>

                    <% for (let i = 0; i < plans.length; i++) { %>
                         <li><b><%= plans[i].title %></b></li>
                         <li><%= plans[i].itemDescription %></li>
                         <!-- tag display if not empty -->
                         <!-- <% if(plans[i].tagUsed !== "" || plans[i].tagUsed !== "none") { %>
                              <li>Tag: <%= plans[i].tagUsed%></li>
                         <% } %> -->
                         <!-- display time and date if not empty -->
                         <% if(plans[i].availDateTimeStart !== "" || plans[i].availDateTimeEnd !== "") { %>
                              <li><b>When to Start:</b> <%= plans[i].availDateTimeStart%></li>
                              <li><b>When to End:</b> <%= plans[i].availDateTimeEnd%></li>
                         <% } %>
                         <button id="remove">Remove</button>
                         <hr>
                    <% } %>
               </ul>
          </div>

     </body>

     <script>
          function logOut() {
               console.log(setUser);
               setUser.pop();
               console.log(setUser);
          }
     </script>

</html>